<%= render 'show_header' %>

<div class='p-6 container mx-auto'>
  <div class='mb-4'>
    <div class='flex items-center mb-2'>
      <h1 class='text-xl text-indigo-900 mr-4'><%= @tournament.name %></h1>
      <%= link_to 'Nueva Semana', new_admin_tournament_week_path(@tournament), class: 'btn btn--secondary' %>
    </div>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 mb-8'>
    <%= render @tournament.weeks %>
  </div>
</div>