<tr class="bg-white lg:hover:bg-gray-100 table-row flex-row flex-no-wrap mb-2 lg:mb-0">
  <th class="sticky left-0 z-20 p-3 text-center text-indigo-900 table-cell bg-gray-200">
    <%= link_to membership_week.membership.account.username, picks_admin_group_membership_path(membership_week.membership.group, membership_week.membership), class: 'hover:underline' %>
  </th>
  <td class="p-3 text-gray-800 text-center border-gray-300 table-cell hover:bg-gray-300">
    <span class="rounded bg-green-400 py-1 px-3 text-xs font-bold"><%= membership_week.points%></span>
  </td>
  <% membership_week.picks.includes(:picked_team, match: [:home_team, :visit_team]).order("matches.order").each do |pick| %>
    <td class="p-3 text-center border-gray-300 table-cell hover:bg-gray-300  <%= pick.correct ? 'text-green-600' : 'text-gray-800' %>">
      <%= pick.picked_team.short_name if pick.picked_team %>
    </td>
  <% end %>
</tr>