<div class='container mx-auto text-left lg:max-w-4xl px-10'>
  <div class='text-center py-4'>
    <h1 class='font-bold'>QUINIELA 3xH NFL 2022<h1>
    <p class='italic'>est 1992</p>
    <h2 class='text-xl uppercase'>Reglas</h2>
  </div>

  <ul class='list-decimal'>
    <li class='mb-4'>
      La cuota por participar siguen siendo <b>$110.00 dólares</b>, pagaderos <b>EN DÓLARES Y EN EFECTIVO</b> 
      a más tardar el miércoles <b>28 de septiembre del 2022.</b> Quien no haya pagado para esa fecha simplemente 
      no podrá registrar sus pronósticos en nuestra propia página de internet (http://www.qnflmty.com).
    </li>
    <li class='mb-4'>
      Premio cada semana = <b>$150.00 dólares</b>. En caso de empate el premio se repartiría entre los ganadores
      en esa semana. Dependiendo del número de participantes se va a considerar incrementar el premio 
      Semanal a US$300 (ver Regla 8).
    </li>
    <li class='mb-4'>
      <span class='block mb-2'>Al final de las 18 jornadas de temporada regular se entregarán los siguientes premios (asumiendo 178):</span>
      <div class="overflow-x-auto relative shadow-lg rounded-lg overflow-hidden sm:w-80">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 border-b">
            <tr>
              <th scope="col" class="py-3 px-6">
                Lugar
              </th>
              <th scope="col" class="py-3 px-6">
                Premio
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Primero
              </td>
              <td class="py-4 px-6 text-gray-700">
                $4,000.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Segundo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $3,000.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Tercero
              </td>
              <td class="py-4 px-6 text-gray-700">
                $2,000.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Cuarto
              </td>
              <td class="py-4 px-6 text-gray-700">
                $1,500.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Quinto
              </td>
              <td class="py-4 px-6 text-gray-700">
                $1,250.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Sexto
              </td>
              <td class="py-4 px-6 text-gray-700">
                $1,000.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Septimo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $800.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Octavo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $700.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Noveno
              </td>
              <td class="py-4 px-6 text-gray-700">
                $600.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                Decimo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $500.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                11vo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $400.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                12vo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $250.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
              <td class="py-4 px-6 font-medium text-gray-900">
                13vo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $150.00
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50">
              <td class="py-4 px-6 font-medium text-gray-900">
                Penultimo
              </td>
              <td class="py-4 px-6 text-gray-700">
                $110.00
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li> 
    <li class='mb-4'>
      Este temporada tenemos una página mejorada, https://www.qnflmty.com, tus pronósticos los puede ingresar
      hasta 5 minutos antes de los KO de cada juego. Tus pronósticos ya no los vamos a recibir por correo ni por
      whatsapp.
    </li>
    <li class='mb-4'>
      <b>Cada acierto equivale a un punto</b>, sin embargo, a partir de la Semana 11, El Comité escogerá tres (3) juegos, los
      juegos “Premium” que tendrán una ponderación de 2 puntos por acierto.
    </li>
    <li class='mb-4'>
      A quien no registre sus picks a tiempo en nuestra página, se le asignarán el mismo número de puntos del que
      tenga menos aciertos esa semana y no tendrá derecho al premio por el penúltimo lugar (no habrá excepciones).
    </li>
    <li class='mb-4'>
      Acertar al marcador final del MNF (suma del marcador de ambos equipos) sólo se usará como criterio de
      desempate para la semana en cuestión, y <b>no se sumará como punto ni para la semana ni para el acumulado</b>. El
      marcador final del último juego de la J 18 no será utilizado como criterio de desempate para el acumulado anual.
    </li>
    <li class='mb-4'>
      El Comité SIEMPRE TIENE LA RAZON. El Comité organizador resolverá cualquier disputa, controversia o
      aclaración; ante la decisión del Comité no procederá recurso alguno.
    </li>
    <li class='mb-4'>
      Cualquier solicitud de revisión será gratuita pero en caso de improcedencia, aplicará un cargo de $100.00 MN.
    </li>
    <li class='mb-4'>
      SI NO ESTÁS DE ACUERDO, NO LE ENTRES!!!
    </li>

    Atentamente,
    “EL COMITE”
  </ul>
</div>