<div class='container mx-auto overflow-x-auto' data-controller='searchable'>
  <input type="text" class='input my-2 mx-2' placeholder="Search usernames" data-action="keyup->searchable#search">
  <div class='overflow-hidden'>
    <div class='overflow-scroll h-screen w-full'>
      <table>
        <thead>
          <tr>
            <th class="p-3 sticky left-0 font-bold text-sm uppercase bg-gray-300 text-gray-700 table-cell">Username</th>
            <th class="p-3 sticky left-0 font-bold text-sm uppercase bg-gray-300 text-gray-700 table-cell">Points</th>
          </tr>
        </thead>
        <tbody>
          <% @memberships.each_with_index do |membership, index| %>
            <tr class="bg-white lg:hover:bg-gray-100 table-row flex-row flex-no-wrap mb-2 lg:mb-0" data-target='searchable.member' data-username="<%= membership.account.username %>">
              <td class="p-3 text-center border-gray-300 table-cell hover:bg-gray-300 text-gray-800">
                <div class='grid grid-cols-2'>
                  <span><%= index + 1 %></span>
                  <span><%= membership.account.username %></span>
                </div>
              </td>
              <td class="p-3 text-center border-gray-300 table-cell hover:bg-gray-300 text-gray-800">
                <span><%= membership.total %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

