<div class='p-6 container mx-auto'>
  <h1 class='mb-4 text-indigo-900'>This is the winners page<h1>
  <% @winners.each do |winner| %>
    <div class="grid grid-cols-2 md:grid-cols-5 mb-3 gap-4 rounded-xl p-3 bg-white shadow-lg border-green-700 border-2">
      <div>
        <p class='text-sm text-gray-500 mb-1'>
          Week
        </p>
        <p class='text-md text-indigo-900 font-bold'>
          <%= winner.membership_week.week.number %>
        </p>
      </div>
      <div>
        <p class='text-sm text-gray-500 mb-1'>
          Winner
        </p>
        <p class='text-md text-indigo-900 font-bold'>
          <%= winner.membership_week.membership.account.username %>
        </p>
      </div>
      <div>
        <p class='text-sm text-gray-500 mb-1'>
          Points
        </p>
        <p class='text-md text-indigo-900 font-bold'>
          <%= winner.membership_week.points %>
        </p>
      </div>
    </div>
  <% end %>
</div>