<div class='bg-white px-6 pt-3 shadow-sm'>
  <div class='flex flex-wrap justify-start lg:justify-between mb-6'>
    <div class="flex items-center">
      <i class="fa-solid fa-handshake fa-2x p-1 mr-3 fill-current transition-all duration-300 text-indigo-900"></i>
      <%= link_to @week.tournament.name, admin_tournament_path(@week.tournament), class: 'text-md text-indigo-900 mr-3 underline' %>
      <div class="text-md text-indigo-900 mr-3">&#x2f;</div>
      <h1 class='text-xl text-indigo-900 mr-3'><b><%= @week.number %></b></h1>
    </div>
    <div class="flex items-center">
      <div class='text-md flex items-center hover:text-indigo-900 py-3 px-3'>
        <i class="fa-solid fa-shoe-prints mr-2 fill-current"></i>
      <span><%= @week.first_match.start_time if @week.matches.present? %></span>
      </div>
    </div>
  </div>
</div>