<div class='p-6 container mx-auto text-left'>
  <h1>Edit</h1>
  <%= render 'form' %>
  <%= button_to 'Delete', [:admin, @account], method: :delete, form: { data: { turbo_confirm: 'This will destroy the account and all its memberships. Are you sure?' } }, class: 'btn btn--danger py-1 mt-4' %>
</div>