<div class='bg-white px-6 py-3 shadow-sm'>
  <div class="flex items-center">
    <div class='flex justify-between items-center'>
      <%= link_to admin_root_path do %>
        <%= image_tag 'logo.svg', alt: 'Logo', class: 'h-12' %>
      <% end %>
    </div>
    <h1 class='text-xl text-indigo-900 mx-3'>Admin</h1>
    <div class="ml-auto" id="menu">
      <%= render 'layouts/account_button' %>
    </div>
  </div>
</div>