<div class='bg-white px-6 py-3 shadow-sm'>
  <div class="flex mb-6 items-center">
    <i class="fas fa-users fa-2x p-1 mr-3 fill-current transition-all duration-300 text-indigo-900"></i>
    <%= link_to 'Week', admin_week_path(@match.week), class: 'text-md text-indigo-900 mr-3 underline' %>
    <div class="text-md text-indigo-900 mr-3">&#x2f;</div>
    <h1 class='text-xl text-indigo-900 mr-3'>Edit Match</h1>
  </div>
</div>
<div class='p-6 container mx-auto'>
  <%= render 'form' %>
</div>