<table class="email-table">
  <tbody>
    <tr class="header-row">
      <td>
        <h1>Hola, <%= @user.full_name %></h1>
      </td>
    </tr>

    <tr class="body-row">
      <td>
        <p class='text-light text-indigo'>
          Tu solicitud del username <b><%= @account.username %></b> para entrar a <b><%= @group.name %> - <%= @group.tournament.year %></b> fue <b>RECHAZADA</b>. Si crees que esto fue un error o necesitas mas información comunicate con los administradores.
        </p>
      </td>
    </tr>

    <hr />

    <tr class="footer-row">
      <td class='text-indigo'>
        <p>Este correo es automatizado</p>
      </td>
    </tr>
  </tbody>
</table>
