<div class="rounded-xl p-6 shadow-lg bg-white">
  <p class='text-xs font-light text-gray-500'>
    Request
  </p>
  <h2 class='text-lg mb-4'>
    Your request to enter the group <b><%= request.group.name %></b> with username <b><%= request.account.username %></b> is being processed.
  </h2>
  <p class='text-lg mb-4'>
    We may need to contact you before granting access.
  </p>
</div>