<div class='bg-white px-6 py-3 shadow-sm'>
  <div class="flex mb-6 items-center">
    <i class="fas fa-users fa-2x p-1 mr-3 fill-current transition-all duration-300 text-indigo-900"></i>
    <h1 class='text-xl text-indigo-900 mr-3'>Sports</h1>
    <%= link_to 'New', new_admin_sport_path, class: 'btn btn--secondary' %>
  </div>
</div>