<div class="rounded-xl p-6 shadow-lg bg-white">
  <div class='flex justify-between items-center mb-4'>
    <div class='mr-4'>
      <p class='text-xs font-light text-gray-500'>
        Sport
      </p>
      <h2 class='text-lg mb-4'>
        <%= sport.name %>
      </h2>
    </div>
  </div>
  <div class='flex justify-between'>
    <%= link_to "Edit", edit_admin_sport_path(sport), class: 'btn btn--primary' %>
    <%= link_to "Teams", admin_sport_path(sport), class: 'btn btn--primary' %>
  </div>
</div>