@import "tailwindcss/base";
@import "tailwindcss/components";

@import "components/form";
@import "components/card";
@import "components/button";
@import "components/stage-link";
@import "components/checkbox-toggle";
@import "components/custom-background";
@import "components/pill";

/*Overrides for Tailwind CSS */

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
		
/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  color: #4a5568; 			/*text-gray-700*/
  padding-left: 1rem; 		/*pl-4*/
  padding-right: 1rem; 		/*pl-4*/
  padding-top: .5rem; 		/*pl-2*/
  padding-bottom: .5rem; 		/*pl-2*/
  line-height: 1.25; 			/*leading-tight*/
  border-width: 2px; 			/*border-2*/
  border-radius: .25rem; 		
  border-color: #edf2f7; 		/*border-gray-200*/
  background-color: #edf2f7; 	/*bg-gray-200*/
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff;	/*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button		{
  font-weight: 700;				/*font-bold*/
  border-radius: .25rem;			/*rounded*/
  border: 1px solid transparent;	/*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
  color: #fff !important;				/*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
  font-weight: 700;					/*font-bold*/
  border-radius: .25rem;				/*rounded*/
  background: #667eea !important;		/*bg-indigo-500*/
  border: 1px solid transparent;		/*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
  color: #fff !important;				/*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
  font-weight: 700;					/*font-bold*/
  border-radius: .25rem;				/*rounded*/
  background: #667eea !important;		/*bg-indigo-500*/
  border: 1px solid transparent;		/*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: #667eea !important; /*bg-indigo-500*/
}

.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}



.pagy-nav, 
.pagy-nav-js,
.pagy-combo-nav-js {
  @apply inline-flex shadow-md;
}
.pagy-nav.pagination, 
.pagy-nav-js.pagination,
.pagy-combo-nav-js.pagination {
  @apply border border-gray-600 rounded-sm;
}
.pagy-nav .page,
.pagy-nav-js .page,
.pagy-combo-nav-js .page,
.pagy-combo-nav-js .pagy-combo-input {
  @apply text-gray-700 border-r border-gray-600 px-3 py-2 text-sm leading-tight font-medium;
}
.pagy-nav .page:hover,
.pagy-nav-js .page:hover {
  @apply text-gray-900;
}
.pagy-nav .disabled,
.pagy-nav-js .disabled,
.pagy-combo-nav-js .disabled {
  @apply cursor-not-allowed;
}
.pagy-nav .active,
.pagy-nav-js .active {
  @apply text-blue-500;
}
.pagy-nav .prev,
.pagy-nav-js .prev,
.pagy-combo-nav-js .prev {
  @apply text-gray-900;
}
.pagy-nav .next,
 .pagy-nav-js .next,
 .pagy-combo-nav-js .next {
  @apply text-gray-900 border-r border-transparent;
}



@import "tailwindcss/utilities";

@import '@fortawesome/fontawesome-free';
@import "trix/dist/trix";
@import "./actiontext.scss";