<div class='p-6 container mx-auto text-left'>
  <div class="px-4 py-2 mb-4 w-full flex justify-between items-center rounded bg-red-100 border-l-red-700 text-red-700 border-l-4" role="alert">
    <p class="text-left flex-1 self-center"><span class="font-bold">Aviso</span> - No has pagado la cuota. Tu acceso esta limita. No podrás ingresar tus picks hasta liquidar tu deuda.</p>
  </div>
</div>