<div class="col-span-full rounded-xl p-6 shadow-lg bg-white">
  <div class="flex text-md text-indigo-900 items-center">
    No hay grupos activos. Crea uno <%= link_to 'aquí', new_admin_group_path, class: 'btn btn--primary py-1 ml-2' %>
  </div>
</div>