<div class='p-6 container mx-auto text-left'>
  <h1 class='text-xl text-indigo-900 font-bold mb-4'>Editar Grupo</h1>
  <p class='mb-4'>Usa el formaulario debajo para editar configuraciones generales del grupo</p>
  <%= render 'form' %>
</div>