<div class='p-6 text-md container mx-auto text-left'>
  <h1 class='text-xl text-indigo-900 mb-4 font-bold'>Nuevo username</h1>
  <% if current_user.accounts.present? %>
    <p class='mb-2'><b>Nota importante:</b> actualmente ya cuentas con los usernames en la lista debajo. Si deseas usar uno de ellos para unirte a otro grupo, da click en cualquiera de ellos.</p>
    <ol class='mb-4'>
      <% current_user.accounts.each do |account| %>
        <li class='text-md font-bold'>- <%= link_to account.username, join_groups_path, class: "underline" %></li>
      <% end %>
    </ol>
  <% end %>
  <p class='mb-4'>En el formulario debajo puedes crear otro "username" y gestionarlo en esta misma sesión con tu correo <b><%= current_user.email %></b></p>
  <%= render 'form' %>
</div>